/* register.css */
body {
    background-color: #aa9c9a;
    font-family: 'Arial', sans-serif;
}

.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
}
